<div id="plant-board-outer">
  <div class="plant-toolbar" role="toolbar">

      <button type="button" class="btn btn-default glyphicon glyphicon-tree-deciduous popup-with-form" >
      </button>
        <a class="btn btn-default" href ng-click="show()">Show a Modal</a>
      <button type="button" class="btn btn-default glyphicon glyphicon-remove-sign"></button>
      <button type="button" class="btn btn-default glyphicon glyphicon-th"></button>
  </div>

  <!-- link that opens popup -->

  <div class="box">
    <div class="lightbox"></div>
    <label id="name">plant 1</label>
  </div>
</div>

