<h1>Dosis</h1>

<div data-ng-controller="DosisCtrl" class="container-table-dosis">

  <button type="button" ng-click="addDosis()" class="btn button-add-new-dosis">
    <i class="glyphicon glyphicon-plus">
    </i> Add new dosis
  </button>

  <table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr class="header-text-center">
      <th >Date</th>
      <th >Water</th>
      <th>Ph Dosis</th>
      <th>Ph</th>
      <th>Ec</th>
      <th>Nutrients</th>
    </tr>
    </thead>
    <tbody>

    <td>
      <div ng-controller="DatepickerCtrl">

        <div class="row">
          <div class="col-md-12">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate"
                     max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
      </div>

    </td>
    <td>
      <div class="row">
        <div class="col-md-4">
        <input class="form-control input-dosis-rest" type="text">
        </div>
       </div>
    </td>
    <td><input class="form-control input-dosis-rest" type="text"></td>
    <td><input class="form-control input-dosis-rest" type="text"></td>
    <td><input class="form-control input-dosis-rest" type="text"></td>
    <td>
      <button type="button" ng-click="" class="btn btn-sm btn-default">
        <i class="glyphicon glyphicon-tint">
        </i>
      </button>
    </td>

    <tr ng-repeat="row in rowCollection"  class="text-center">
      <td>{{row.date | date:'dd-MM-yyyy'}}</td>
      <td>{{row.water}}</td>
      <td>{{row.phDosis}}</td>
      <td>{{row.ph}}</td>
      <td>{{row.ec}}</td>
      <td>{{row.nutrients}}</td>

    </tbody>
    <tfoot>
    <tr>
      <th><strong>TOTAL</strong></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </tfoot>
  </table>
</div>


