<h1>Dosis</h1>

<div data-ng-controller="DosisCtrl" class="container-table-dosis">

  <button type="button" ng-click="addDosis()" class="btn button-add-new-dosis">
    <i class="glyphicon glyphicon-plus">
    </i> Add new dosis
  </button>

  <table class="table table-striped enter-block">
    <thead>
    <tr class="header-text-center">
      <th class="table-head-text">Date</th>
      <th class="table-head-text">Water</th>
      <th class="table-head-text">Ph Dosis</th>
      <th class="table-head-text">Ph</th>
      <th class="table-head-text">Ec</th>
      <th class="table-head-text">Nutrients</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>

          <div ng-class="{'has-error': datepickerForm.date.$invalid}">
            <input type="text" class="form-control" ng-model="selectedDate" name="date" bs-datepicker data-date-format="dd-MM-yyyy">
          </div>
      </td>
      <td>
          <input class="form-control input-dosis-rest" type="text">
      </td>
      <td><input class="form-control input-dosis-rest" type="text"></td>
      <td><input class="form-control input-dosis-rest" type="text"></td>
      <td><input class="form-control input-dosis-rest" type="text"></td>
      <td>
        <div class="div-button-dosis">
          <button type="button" ng-click="openNutrientForm()" class="btn btn-sm btn-default button-dosis"
                  data-placement="right" data-type="info" data-body="{{tooltip.text}}"
                  data-container="body"
                  data-title="{{tooltip.title}}" data-trigger="hover" bs-tooltip="tooltip">
            <i class="glyphicon glyphicon-tint"></i>a
          </button>
        </div>
      </td>
    </tr>
    <tr ng-repeat="row in rowCollection"  class="text-center">
      <td>{{row.date | date:'dd-MM-yyyy'}}</td>
      <td>{{row.water}}</td>
      <td>{{row.phDosis}}</td>
      <td>{{row.ph}}</td>
      <td>{{row.ec}}</td>
      <td>{{row.nutrients}}</td>

    </tbody>
    <tfoot>
    <tr>
      <th><strong>TOTAL</strong></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </tfoot>
  </table>
</div>


