<!-- form itself -->
<div>
<form id="test-form" class="white-popup-block mfp-hide">
  <h1>Form</h1>
  <fieldset style="border:0;">
    <ol>
      <li>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" placeholder="Name" required="">
      </li>
      <li>
        <label for="email">Email</label>
        <input id="email" name="email" type="email" placeholder="example@domain.com" required="">
      </li>
      <li>
        <label for="phone">Phone</label>
        <input id="phone" name="phone" type="tel" placeholder="Eg. +447500000000" required="">
      </li>
      <li>
        <label for="textarea">Textarea</label><br>
        <textarea id="textarea">Try to resize me to see how popup CSS-based resizing works.</textarea>
      </li>
    </ol>
  </fieldset>
</form>
</div>
